@model User

<h2>Детали пользователя</h2>

<div>
    <h4>Имя</h4>
    <p>@Model.UserName</p>
</div>
<div>
    <h4>Email</h4>
    <p>@Model.Email</p>
</div>
<div>
    <h4>Id</h4>
    <p>@Model.Id</p>
</div>

<a href="javascript:history.back()">Назад</a>
