@model System.Collections.Generic.List<HSE_Solution7_EMailService.Models.Msg>

<a asp-action="Create">Написать сообщение</a>

<h2>Получить сообщения по Email отправителя и получателя</h2>

<form asp-action="GetMessagesByBoth" method="get">
    <div>
        <label for="senderEmail">Email отправителя:</label>
        <input type="text" id="senderEmail" name="senderEmail" />
    </div>
    <div>
        <label for="receiverEmail">Email получателя:</label>
        <input type="text" id="receiverEmail" name="receiverEmail" />
    </div>
    <button type="submit">Просмотреть сообщения</button>
</form>


<h2>Получить сообщения по отправителю</h2>

<form asp-action="GetMsgBySender" method="get">
    <div>
        <label for="senderEmail">Идентификатор отправителя:</label>
        <input type="text" id="senderEmail" name="senderEmail" />
    </div>
    <button type="submit">Просмотреть сообщения</button>
</form>


<h2>Получить сообщения по получателю</h2>

<form asp-action="GetMsgByReceiver" method="get">
    <div>
        <label for="receiverEmail">Идентификатор получателя:</label>
        <input type="text" id="receiverEmail" name="receiverEmail" />
    </div>
    <button type="submit">Просмотреть сообщения</button>
</form>